$background-color: #261A37;
$text-color: #F8F8F8;
$accent-color: #2D203E;

$success-color: #4af050;
$warning-color: #ff6326;
$danger-color: #ff3737;

$header-height: 12vh;
$history-title-height: 11vh;